@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
}

body {
  margin: 20px 40px;
}

@layer utilities {
}

.project-card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.project-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.technologies {
  margin-top: -300px;
}

.link-hover::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 0%;
    height: 6px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.link-hover:hover::before {
  width: 100%;
}

@keyframes moveX {
  0% { transform: translateX(0); }
  50% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes moveY {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

.see-div:hover .finger-ani {
  animation: moveX 1s ease-in-out infinite;
}

.social-hover:hover {
  animation: moveY 1s ease-in-out infinite;
}

@media screen and (max-width: 1024px) {
  .technologies {
    margin-top: 100px;
  }
}

@media screen and (max-width: 640px) {
  .link-hover:hover::before {
    width: 0%;
  }
}
